.is-style-display-heading {
	color: color('heading');
	font-size: 48px;
	font-weight: 700;
}

.is-style-eyebrow-heading {
	color: color('link');
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
