<header id="header" class="header-default header">
	<div class="header-content">
		{{{ home_link }}}

		<div class="menus">
			{{{ search }}}
			{{{ utility_menu }}}
			{{> menu-main-menu }}
		</div>

		<button id="main-menu-toggle" class="main-menu-toggle" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle Main Menu">
			{{{ toggle_icon }}}
		</button>
	</div>
</header>