.event-post-card {
	.card-image {
		.wp-block-image>img {
			height: 228px;
			object-fit: cover;
		}
	}

	.event-term {
		padding: 4px 10px;
		border-radius: 38px;
		background-color: #46E88C40;
		color: #2A2A2A;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: normal;
		line-height: 24px;
		text-transform: capitalize;
	}

	.card-footer {
		display: flex;
		height: 100%;
		margin-top: 28px;
	}

	.card-content {
		.post-title {
			color: #2A2A2A;
		}

		.event-date-picker {
			.event-start-date,
			.event-end-date,
			.location {
				color: #2A2A2A;
				font-size: 16px;
				font-weight: 500;
				letter-spacing: 0.1px;
				line-height: 26px;
			}

			.event-end-date {
				padding: 0 16px 0 0 ;
				border-right: 1px solid var(--wp--preset--color--lemon-grass);
			}

			.location {
				padding: 0 0 0 16px ;
			}
		}
	}

	.card-excerpt p {
		color: #2A2A2A;
	}
}

.card-terms {
	gap: 16px;
}

.card-query-loop {
	margin: 0;
	padding: 0 55px;
	@include respond-to($large,max) {
		padding: 0;
	}

	ul {
		@include respond-to($medium,max) {
			grid-template-columns: none;
		}
	}

	.event-post-card {
		width: 100%;
	}
}
