.roi-calculator-container {
	padding: 32px;
	border: 1px solid #D7D7E4;
	border-radius: 24px;
	background: #ffffff;
}

.roi-slider {
	margin-bottom: 15px;
}

.roi-slider label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.roi-slider input[type='range'] {
	width: 100%;
	cursor: pointer;
}

.non-performing-value,
.roi-value {
	height: 50px;
	padding: 5px 12px;
	border-radius: 6px;
	background: #EAEFF4;
	color: #0B0B33;
	font-size: 32px;
	font-weight: 700;
	letter-spacing: -0.4000000059604645px;
	line-height: 38.4px;
}

.calculator-p,
.roi-slider label {
	display: flex;
	flex-direction: column;
	color: #2A2A2A;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.10000000149011612px;
	line-height: 28px;
}

.percentage-value {
	color: #0B0B33;
	font-size: 26px;
	font-weight: 700;
	letter-spacing: -0.4000000059604645px;
	line-height: 31.2px;

}
/* Default range input styles */

input[type='range'] {
	width: 100%;
	height: 8px;
	outline: none;
	border-radius: 5px;
	background: #EAEFF4;
	-webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
	height: 8px;
	border-radius: 5px;
	background: #EAEFF4;  /* Default track color */
}

/* Firefox */

input[type='range']::-moz-range-track {
	height: 8px;
	border-radius: 5px;
	background: #EAEFF4;  /* Default track color */
}

input[type='range'] {
	--track-progress: 0%;
	background: linear-gradient(to right, #46E88C var(--track-progress), #EAEFF4 var(--track-progress));
}

input[type='range']::-webkit-slider-runnable-track {
	background: linear-gradient(to right, #46E88C var(--track-progress), #EAEFF4 var(--track-progress));
}

input[type='range']::-moz-range-track {
	background: linear-gradient(to right, #46E88C var(--track-progress), #EAEFF4 var(--track-progress));
}

input[type='range']::-webkit-slider-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #46E88C;
	cursor: pointer;
	-webkit-appearance: none;
}

input[type='range']::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #46E88C;
	cursor: pointer;
}
