/* stylelint-disable  declaration-no-important */

.testimonial-card {
	padding: 50px 0;
	border: 1px solid var(--wp--preset--color--concrete);
	border-radius: 16px;

	.testimonial-content {
		margin-bottom: 25px;
		color: var(--wp--preset--color--charcoal-blue);
		font-size: 24px;
		font-weight: 700;
		letter-spacing: -0.4000000059604645px;
		line-height: 35px;

		@include respond-to($large,max) {
			margin: 0;
			padding: 24px;
		}

		@include respond-to($navigation,min) {
			margin: 0;
			margin-bottom: 35px;
			font-size: 35px;
			font-weight: 700;
			letter-spacing: -0.4000000059604645px;
			line-height: 48px;
		}
	}

	.testimonial-meta {
		width: 900px;
		margin: 0 auto;
		@include respond-to($large,max) {
			width: 100%;
		}
	}

	.wp-block-image img {
		width: 110px;
		height: 80px;
		object-fit: cover;

	}

	.wp-block-image {
		padding-bottom: 35px;
	}

	.attributee {
		display: flex;
		gap: 15px;
		align-items: center;
		justify-content: center;
		margin-bottom: 35px;

		.author-image img {
			width: 64px;
			height: 64px;
			object-fit: cover;
			border-radius: 100%;
		}
	}

	.attributee-meta {
		display: flex;
		flex-direction: column;

		.attributee-name {
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 0.10000000149011612px;
			line-height: 26px;
			text-align: left;
		}

		.attributee-company {
			font-size: 14px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}
	}

	.card-footer {
		display: flex;
		gap: 16px;
		justify-content: center;
		@include respond-to($small,max) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.wp-block-button.is-style-outline {
			.wp-block-button__link {
				padding: 10px 15px 8px !important;
				background-color: transparent;
				font-size: 16px;
				font-weight: 800;
				line-height: 24px;
			}

		}
	}

	.video-link .wp-block-button__link {
		padding: 10px 17px !important;
		font-size: 16px;
		font-weight: 800;
		line-height: 24px;
	}

	&.has_custom_light_sky {
		border: none;
		background: var(--wp--preset--color--light-sky);
	}
}

.testimonial-swiper {
	.wp-block-vital-swiper {
		@include respond-to($large,max) {
			max-width: 100%;
		}
	}

	.swiper-pagination-bullet {
		width: 40px;
		height: 6px;
		opacity: inherit;
		border-radius: 8px;
		background-color: #46E88C40;
	}

	.swiper-pagination-bullet-active {
		opacity: inherit;
		background: var(--wp--preset--color--mint);
	}
}
