/* stylelint-disable  declaration-no-important */

.testimonial-card {
	padding: 0;

	.testimonial-content {
		color: var(--wp--preset--color--charcoal-blue);
		font-size: 24px;
		font-weight: 700;
		letter-spacing: -0.4000000059604645px;
		line-height: 35px;
		@include respond-to($navigation,min) {
			font-size: 35px;
			font-weight: 700;
			letter-spacing: -0.4000000059604645px;
			line-height: 48px;

		}
	}

	.wp-block-image img {
		width: 110px;
		height: 80px;
		object-fit: cover;
	}

	.attributee {
		display: flex;
		gap: 15px;
		align-items: center;
		justify-content: center;

		.author-image img {
			width: 64px;
			height: 64px;
			object-fit: cover;
			border-radius: 100%;
		}
	}

	.attributee-meta {
		display: flex;
		flex-direction: column;

		.attributee-name {
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 0.10000000149011612px;
			line-height: 26px;
		}

		.attributee-company {
			font-size: 14px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}
	}

	.card-footer {
		display: flex;
		gap: 16px;
		justify-content: center;

		.wp-block-button.is-style-outline {
			.wp-block-button__link {
				padding: 10px 15px 8px !important;
				background-color: transparent;
				font-size: 16px;
				font-weight: 800;
				line-height: 24px;
			}

		}
	}

	.video-link .wp-block-button__link {
		padding: 10px 17px !important;
		font-size: 16px;
		font-weight: 800;
		line-height: 24px;
	}
}
