/* stylelint-disable  declaration-no-important */

.single-resource-hero {
	margin-bottom: clamp(2.5rem, -0.5909rem + 6.1818vw, 6.75rem);
	padding-top: clamp(2.8125rem, 1.4489rem + 2.7273vw, 4.6875rem) !important;
	padding-bottom: clamp(2.8125rem, 1.4489rem + 2.7273vw, 4.6875rem) !important;
	background: var(--wp--preset--color--frost) ;

	.hero-contents {
		display: flex;
		flex-direction: row;
		max-width: var(--wp--style--global--wide-size);
		margin: auto;
		padding: 0;
		gap: 60px;
		@include respond-to($navigation,max) {
			flex-direction: column;
			align-items: center;

		}
	}

	.single-resource-image {
		width: 215px;
		height: 280px;
		border-radius: 6px;
		box-shadow: 0 15px 17.1px -9.74px rgba(0, 0, 0, 0.2);
	}

	img {
		width: 100%;
		height: 100%;
		border-radius: 6px;
		object-fit: cover;
	}

	.single-resource-lede {
		width: calc(100% - 300px);

		@include respond-to($navigation,max) {
			width: 100%;
		}

		.single-resource-term {
			color: var(--wp--preset--color--egyptian-blue);
			font-size: 14px;
			font-weight: 800;
			letter-spacing: 2px;
			line-height: 28px;
			text-transform: uppercase;
		}

		.single-resource-actions {
			.wp-block-button__link {
				padding: 10px 16px !important;
			}
		}
	}

	.single-resource-title {
		margin: 16px 0;
		color: var(--wp--preset--color--charcoal);
	}

	.resource-description p {
		margin-top: 0;
	}

	.share-this {
		display: flex;
		gap: 15px;

		.icon {
			width: 32px;
			height: 32px;
		}

		.icon-twitter {
			background-image: url('../src/images/twitter-share.png') ;
			background-repeat: no-repeat;
		}

		.icon-facebook {
			background-image: url('../src/images/Facebook-share.png') ;
			background-repeat: no-repeat;
		}

		.icon-email {
			background-image: url('../src/images/Mail-share.png') ;
			background-repeat: no-repeat;
		}

		.icon-linkedin {
			background-image: url('../src/images/Linkedin-share.png') ;
			background-repeat: no-repeat;
		}

		.cher-link-link,
		.cher-link-text {
			display: none;
		}

		.share-title {
			color: var(--wp--preset--color--egyptian-blue);
			font-size: 14px;
			font-weight: 800;
			letter-spacing: 2px;
			line-height: 28px;
			text-transform: uppercase;
		}

		.cher-links {
			display: flex;
			gap: 15px;

			li {
				padding-left: 0;
			}
		}
	}

}

.single-resource-gated-content {
	gap: 70px !important;

	@include respond-to($navigation,max) {
		flex-direction: column !important;
		gap: 30px !important;
	}
}

.single-resource-content {
	width: 45% !important;

	@include respond-to($navigation,max) {
		width: 100% !important;
	}
}

.single-resource-gated-form {
	width: 55% !important;
	@include respond-to($navigation,max) {
		width: 100% !important;
	}
}

.single-resource-content.ungated {
	width: 100% !important;
	max-width: var(--wp--style--global--content-size);
	margin-top: 72px;
}

.is-thank-you {
	.single-resource-lede {
		width: 100%;
	}
}
