/* stylelint-disable  declaration-no-important */

.footer-menu {
	gap: 12px;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;

	@include respond-to($xxlarge,max) {
		gap: 0;
	}
	@include respond-to($navigation,max) {
		gap: 20px;
		grid-template-columns: 30% 30% 30%;
	}
	@include respond-to($small,max) {
		gap: 20px;
		grid-template-columns: 50% 50%;
	}

	.menu-item a::after {
		display: none;
	}
}

.footer-nav .menu-item .sub-menu {
	top: auto !important;
	display: block !important;
	width: auto !important;
	margin-bottom: 0;
	transform: none !important;

	@include respond-to($large,max) {
		left: auto !important;
		background: none !important;
	}
}

.footer-content {
	background-color: #FFFFFF !important;
	@include respond-to($large,max) {
		padding: 0 24px !important;
	}
}

.career-li {
	@include respond-to($small,max) {
		margin-top: 60px !important;
	}
}

.menu.footer-menu .menu-item:nth-child(2) {
	@include respond-to($small,max) {
		grid-column: 1;
		grid-row: 2;
	}

	.sub-menu {
		.menu-item:nth-child(1) a,
		.menu-item:nth-child(2) a {
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 0.10000000149011612px;
			line-height: 24px;
		}

		.menu-item:nth-child(1) {
			margin-top: 16px;
		}
	}
}

.menu.footer-menu .menu-item:nth-child(3) {
	@include respond-to($small,max) {
		grid-column: 2;
		grid-row: 2;
	}

	.sub-menu {
		.menu-item:nth-child(1) {
			margin-top: 16px;
		}
	}
}

.menu.footer-menu .menu-item:nth-child(4) {
	@include respond-to($small,max) {
		grid-column: 1;
	}

	.sub-menu {
		.menu-item:nth-child(1) {
			margin-top: 16px;
		}
	}
}

.footer-menu {
	.menu-item {
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0.10000000149011612px;
		line-height: 24px;
	}

	.sub-menu {
		.menu-item {
			margin-bottom: 18px;
			font-size: 14px;
			font-weight: 600;
			letter-spacing: normal;
			line-height: 16px;
		}
	}
}

.utility-footer {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	max-width: var(--wp--custom--container-width--xwide);
	margin: 0 auto;
	padding-bottom: 20px;
	border-top: 1px solid #D7D7E4;

	@include respond-to($xlarge,max) {
		padding: 0 24px ;
	}

	@include respond-to($navigation,max) {
		flex-direction: column;
		gap: 0;
		margin-top: 80px;
	}
}

.footer-terms {
	gap: 0 !important;
	display: grid;
	grid-auto-flow: column;

	.menu-item {
		font-size: 14px;
		font-weight: 500;
		letter-spacing: normal;
		line-height: 24px;
	}

	.menu-item a {
		&::after {
			position: relative;
			margin: 0 3px;
			background: none;
			content: '|';
		}
	}

	.sitemap-li a {
		&::after {
			content: none;
		}
	}
}

.icon {
	width: 16px;
	height: 16px;
	padding: 0;
	cursor: pointer;

	a {
		display: block;
		width: 16px;
		height: 16px;
	}
}

.icon-twitter {
	background-image: url('../src/images/twitter.png') ;
	background-repeat: no-repeat;
}

.icon-facebook {
	background-image: url('../src/images/facebook.png') ;
	background-repeat: no-repeat;
}

.icon-instagram {
	background-image: url('../src/images/Instagram.png') ;
	background-repeat: no-repeat;
}

.icon-linkedin {
	background-image: url('../src/images/Linkedin.png') ;
	background-repeat: no-repeat;
}

.privacy-menu {
	display: flex;
	align-items: baseline;

	@include respond-to($navigation,max) {
		flex-direction: column;
	}
}

.social-links {
	gap: 12px;
	display: flex;
	align-items: baseline;
	margin: 0;
	@include respond-to($navigation,max) {
		margin: 0 0 10px;
	}
}

.footer-copyright {
	margin: 0;

	@include respond-to($navigation,max) {
		margin: 10px 0;
	}
}
