/* stylelint-disable  declaration-no-important */

.gform_wrapper {
	max-width: 842px !important;
	padding: 41px 91px 47px;
	border-radius: 24px;
	background: var(--wp--preset--color--charcoal-blue);

	@include respond-to ($medium,max) {
		padding: 21px 41px 27px;
	}

	.gform-field-label {
		color: #FFFFFF;
		font-size: 14px !important;
		font-weight: 400 !important;
		line-height: 20px;
	}

	.gfield-optional,
	.gfield_required {
		display: none !important;
	}

	.gform_title {
		margin: 0 0 8px ;
		color: #FFFFFF;
		font-size: 36px;
		font-weight: 700;
		letter-spacing: -0.800000011920929px;
		line-height: 51px;
	}

	.gform_description {
		margin: 0 0 24px;
		color: #FFFFFF;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 0.10000000149011612px;
		line-height: 28px;
		text-align: center;
	}

	input,
	select,
	textarea {
		padding: 12px !important;
		border-radius: 6px;
	}

	::placeholder {
		color: var(--wp--preset--color--charcoal);
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.10000000149011612px;
		line-height: 24px;
	}

	input:focus {
		outline: none !important;
		border-radius: 0 !important;
		border-bottom-color: var(--wp--preset--color--egyptian-blue) !important;
		background: none;
		color: #FFFFFF !important;
	}

	input:focus::placeholder {
		color: #FFFFFF !important;
	}

	select:focus {
		border-color: var(--wp--preset--color--egyptian-blue) !important;
	}

	.gfield_consent_label {
		margin-left: 0 !important;
		color: var(--wp--preset--color--frost) !important;
		font-size: 16px !important;
	}

	.gfield_description {
		padding: 10px 12px !important;
		overflow-y: hidden !important;
		border-color: var(--wp--preset--color--concrete) !important;
		color: var(--wp--preset--color--concrete);
		font-size: 14px !important;
		font-weight: 400;
		line-height: 20px !important;
	}

	.gform_footer {
		padding: 28px 0 0 !important;

		.gform_button {
			align-self: center !important;
			width: 214px;
			margin-bottom: 0 !important;
			padding: 14px 48px !important;
			border-radius: 36px ;
			font-size: 18px !important;
			font-weight: 800 !important;
			line-height: 24.59px;
		}
	}

	.ginput_container_select::after {
		right: 14px !important;
		width: 22px !important;
		height: 20px !important;
		color: var(--wp--preset--color--charcoal-blue) !important;
	}

	.gfield_select {
		option {
			color: var(--wp--preset--color--charcoal);
		}
	}

	.gfield_error label {
		color: #FF4646 !important;

	}

	.gfield.gfield_error input {
		border: none !important;
	}

	.validation_message {
		border: none !important;
		background: none !important;
	}
}

@mixin gfield_choice {
	& {
		display: none !important;
	}

	& + label {
		--element-size: 24px;
		--element-border-shadow: var(--wp--custom--colors--border);
		position: relative;
		display: inline;
		margin-left: 0;
		padding-left: calc(var(--element-size) + 10px);
		color: currentColor;
		font-size: 16px;
		line-height: calc(24 / 16);
		cursor: pointer;

		&::before,
		&::after {
			position: absolute;
			top: -1px;
			left: 0;
			display: block;
			width: var(--element-size);
			height: var(--element-size);
			content: '';
		}

		&::before {
			border: 1px solid #FFFFFF;
			background-color: transparent;
			transition: all 0.2s ease-out;
		}

		&::after {
			z-index: 15;
			top: -1px;
			transform: scale(0);
			background-repeat: no-repeat;
			line-height: 24px;
			transition: transform 0.1s ease-out 0.15s;
			will-change: transform;
		}
	}

	&:checked + label::after {
		transform: scale(1);
	}
}

// Radio-specific styles
@mixin gfield_choice_radio {
	// Apply border-radius by default, not only when checked

	& + label::before,
	& + label::after {
		border-radius: 50%; // This will make the radio button circular by default
	}

	&:checked + label::before {
		border: 1px solid var(--wp--preset--color--mint);
		background-color: var(--wp--preset--color--mint);
	}

	&:checked + label::after {
		transform: scale(0.33);
		background-color: var(--wp--preset--color--charcoal-blue);
	}
}

// Checkbox-specific styles
@mixin gfield_choice_checkbox {
	&:checked + label::after {
		background-image: url('../src/images/form-checkbox.png');
		color: var(--wp--preset--color--mint);
		text-align: center;
	}
}

.gfield-choice-input {
	@include gfield_choice();

	// Apply checkbox-specific styles within .gfield-choice-input
	@at-root {
		.gfield_checkbox & {
			@include gfield_choice_checkbox();
		}

		[type='checkbox'] {
			&.gfield-choice-input {
				@include gfield_choice_checkbox();
			}
		}

	}

	// Apply radio-specific styles within .gfield-choice-input
	@at-root {
		.gfield_radio & {
			@include gfield_choice_radio();
		}

		[type='radio'] {
			&.gfield-choice-input {
				@include gfield_choice_radio();
			}
		}
	}
}

// Styles for consent checkboxes

.ginput_container_consent {
	> [type='checkbox'] {
		+ label::before {
			top: -5px !important;
		}

		+ label::after {
			top: 1px !important;
			margin-left: 4px;
		}

		@include gfield_choice();
		@include gfield_choice_checkbox();
	}

	+ .gfield_consent_description {
		margin-top: 18px;
		padding: 10px;
		border: 1px solid var(--wp--preset--color--light-grey);
		font-size: 12px;
		line-height: calc(24 / 14);
	}
}

.gchoice {
	align-items: center;
	margin: 10px 0 ;
}
