/* stylelint-disable  declaration-no-important */

.gform_wrapper {
	max-width: 842px !important;
	padding: 41px 91px 47px;
	border-radius: 24px;
	background: var(--wp--preset--color--charcoal-blue);

	@include respond-to ($medium,max) {
		padding: 21px 41px 27px;
	}

	.gform-field-label {
		color: #FFFFFF;
		font-size: 14px !important;
		font-weight: 400 !important;
		line-height: 20px;
	}

	.gfield-optional,
	.gfield_required {
		display: none !important;
	}

	.gform_title {
		margin: 0 0 8px ;
		color: #FFFFFF;
		font-size: 36px;
		font-weight: 700;
		letter-spacing: -0.800000011920929px;
		line-height: 51px;
	}

	.gform_description {
		margin: 0 0 24px;
		color: #FFFFFF;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 0.10000000149011612px;
		line-height: 28px;
		text-align: center;
	}

	input,
	select,
	textarea {
		padding: 12px !important;
		border-radius: 6px;
	}

	::placeholder {
		color: var(--wp--preset--color--charcoal);
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.10000000149011612px;
		line-height: 24px;
	}

	input:focus {
		outline: none !important;
		border-radius: 0 !important;
		border-bottom-color: var(--wp--preset--color--egyptian-blue) !important;
		background: none;
		color: #FFFFFF !important;
	}

	input:focus::placeholder {
		color: #FFFFFF !important;
	}

	select:focus {
		border-color: var(--wp--preset--color--egyptian-blue) !important;
	}

	.gfield_consent_label {
		margin-left: 0 !important;
		color: var(--wp--preset--color--frost) !important;
		font-size: 16px !important;
	}

	.gfield_description {
		padding: 10px 12px !important;
		overflow-y: hidden !important;
		border-color: var(--wp--preset--color--concrete) !important;
		color: var(--wp--preset--color--concrete);
		font-size: 14px !important;
		font-weight: 400;
		line-height: 20px !important;
	}

	.gform_footer {
		padding: 28px 0 0 !important;

		.gform_button {
			align-self: center !important;
			width: 214px;
			margin-bottom: 0 !important;
			padding: 14px 48px !important;
			border-radius: 36px ;
			font-size: 18px !important;
			font-weight: 800 !important;
			line-height: 24.59px;
		}
	}

	.ginput_container_select::after {
		right: 14px !important;
		width: 22px !important;
		height: 20px !important;
		color: var(--wp--preset--color--charcoal-blue) !important;
	}

	.gfield_select {
		option {
			color: var(--wp--preset--color--charcoal);
		}
	}

	.gfield_error label {
		color: #FF4646 !important;

	}

	.gfield.gfield_error input {
		border: none !important;
	}

	.validation_message {
		border: none !important;
		background: none !important;
	}
}
