/* stylelint-disable  declaration-no-important */

:root {
	--admin-bar-height: 0;
	--header-height: 110px;

	@include respond-to($xlarge) {
		--header-height: 133px;
	}
}

.admin-bar {
	--admin-bar-height: 46px;

	@include respond-to(783px) {
		--admin-bar-height: 32px;
	}
}

.header {
	@include respond-to($large, 'max') {
		.menus {
			--nav-height: calc(100vh - var(--header-height));

			position: absolute;
			top: var(--header-height);
			left: 0;
			display: flex;
			flex-direction: column-reverse;
			justify-content: flex-end;
			width: 100%;
			height: var(--nav-height);
			clip-path: inset(0 0 var(--nav-height) 0);
			background-color: var(--wp--custom--colors--body-bg);
			color: var(--wp--custom--colors--body);
			transition: clip-path 0.3s ease-out;
			padding-block: var(--wp--custom--gutter-width--page) calc(2 * var(--wp--custom--gutter-width--page));
			pointer-events: none;
			gap: var(--wp--custom--gutter-width--page);

			.nav-open & {
				clip-path: inset(0 0 0 0);
				pointer-events: all;
			}

			@include respond-to($large,max) {
				gap: 0;
			}
		}
	}

	.header-content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: var(--wp--custom--container-width--xwide);
		margin-inline: auto;
		gap: var(--wp--custom--gutter-width--page);
	}
}

.main-menu-toggle {
	position: relative;
	display: block;
	margin-left: var(--wp--custom--gutter-width--page);
	padding: 0;
	border: 0;
	background-color: transparent;
	color: inherit;
	appearance: none;

	@include respond-to($large) {
		display: none;
	}
}

.menu.main-menu .menu-item-link.depth-0::after {
	content: none ;
}

.header-search {
	flex-direction: row-reverse;
	gap: 45px;
	align-items: baseline;
	justify-content: end;
	max-width: 95px;

	@include respond-to($xlarge+2px,max) {
		margin-right: 30px;
	}
	@include respond-to($large,max) {
		flex-direction: column;
		align-items: unset;
		width: 100%;
		max-width: none;
		margin-top: 16px;
		margin-right: 0;
		padding: 0 24px;
		gap: 24px;
	}

	.utility-menu {
		display: block;

		@include respond-to($large,max) {
			display: none;
			margin-top: 20px;
			margin-bottom: 16px;
			margin-left: 24px;
		}
	}

	.search-form-wrapper {
		max-width: 100%;

		@include respond-to($navigation) {
			width: 100%;
			pointer-events: auto;
		}
	}

	.search-toggle {
		@include respond-to($navigation) {
			position: relative;
			display: none;
		}
	}

	.search-form {
		display: flex;
		min-width: 90px;
	}

	.search-input-wrapper {
		position: relative;
		width: 100%;
		padding-left: 20px;

		&::before {
			position: absolute;
			top: 6px;
			left: 0;
			width: 13px;
			height: 13px;
			background-image: url('../src/images/search.png') ;
			background-repeat: no-repeat ;
			content: '' ;
		}
	}

	.search-field {
		border: none;
		font-size: 14px;

		&:focus {
			outline: none;
			border: none;
			box-shadow: none;
		}

		&::placeholder {
			width: 100%;
			color: var(--wp--custom--colors--body);
		}
	}

	.search-submit {
		position: relative;
		display: none;
		width: 20px;
		height: 20px;
		color: #fff;
	}
}

.header-search.activated {
	gap: 15px;
	@include respond-to($large,max) {
		gap: 20px;
	}
}

.utility-menu {
	.form-button {
		position: absolute;
		bottom: -100px;
		left: 0;
		width: 100%;
		padding: 0 24px;
		@include respond-to($large,min) {
			display: none;
		}

		.menu-item-link {
			font-size: 14px !important;
			font-weight: 800 !important;
			letter-spacing: 0.10000000149011612px;
			line-height: 24px !important;
		}
	}
}

.main-menu {
	.form-button {
		@include respond-to($large,max) {
			display: none;
		}
	}
}

.header .menu.utility-menu {
	@include respond-to($large,max) {
		display: flex;
		flex-direction: column;
		align-items: baseline;
		justify-content: center;
		margin-right: 1.5rem;
		margin-left: 1.5rem;
		padding: 24px 24px 0;
		border-top: 1px solid var(--wp--preset--color--concrete);
	}

	.menu-item-link {
		position: relative;
		letter-spacing: normal;
		line-height: 20px;

		&::before {
			position: absolute;
			top: 4px ;
			left: -28px;
			width: 16px ;
			height: 16px ;
			margin: 0 0 3px 6px ;
			transform: none ;
			background-image: url('../src/images/login-logo.png') ;
			background-repeat: no-repeat ;
			content: '' ;

			@include respond-to($large,max) {
				top: 2px;
				padding-left: 24px ;
				background-image: url('../src/images/login-logo-small.png') ;
				background-repeat: no-repeat ;
			}
		}
		@include respond-to($large,max) {
			margin-right: auto;
			font-size: 11.98px;
			font-weight: 500;
			line-height: 17.12px;
		}
	}

}

.utility-menu-wrapper {
	margin-top: 24px;
}
