/* stylelint-disable  declaration-no-important */

:root {
	--admin-bar-height: 0;
	--header-height: 110px;

	@include respond-to($xlarge) {
		--header-height: 133px;
	}
}

.admin-bar {
	--admin-bar-height: 46px;

	@include respond-to(783px) {
		--admin-bar-height: 32px;
	}
}

.header {
	@include respond-to($large, 'max') {
		.menus {
			--nav-height: calc(100vh - var(--header-height));

			position: absolute;
			top: var(--header-height);
			left: 0;
			display: flex;
			flex-direction: column-reverse;
			justify-content: flex-end;
			width: 100%;
			height: var(--nav-height);
			clip-path: inset(0 0 var(--nav-height) 0);
			background-color: var(--wp--custom--colors--body-bg);
			color: var(--wp--custom--colors--body);
			transition: clip-path 0.3s ease-out;
			padding-block: var(--wp--custom--gutter-width--page) calc(2 * var(--wp--custom--gutter-width--page));
			pointer-events: none;
			gap: var(--wp--custom--gutter-width--page);

			.nav-open & {
				clip-path: inset(0 0 0 0);
				pointer-events: all;
			}
		}
	}

	.header-content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: var(--wp--custom--container-width--xwide);
		margin-inline: auto;
		gap: var(--wp--custom--gutter-width--page);
	}
}

.main-menu-toggle {
	position: relative;
	display: block;
	margin-left: var(--wp--custom--gutter-width--page);
	padding: 0;
	border: 0;
	background-color: transparent;
	color: inherit;
	appearance: none;

	@include respond-to($large) {
		display: none;
	}
}

.menu.main-menu .menu-item-link.depth-0::after {
	content: none ;
}

.header-search {
	flex-direction: row-reverse;
	gap: 45px;
	align-items: center;
	justify-content: end;

	@include respond-to($xlarge+2px,max) {
		margin-right: 30px;
	}
	@include respond-to($large,max) {
		flex-direction: column-reverse;
		align-items: unset;
		width: 100%;
		margin-right: 0;
		padding: 0 0 0 24px;
	}

	.utility-menu {
		display: block;
	}

	.utility-menu-wrapper {
		width: auto;
	}

	.search-toggle {
		top: 45%;
		right: auto;
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		gap: 6px;

		&::before {
			font-size: 12px;
		}
	}

	.search-form-wrapper {
		@include respond-to($navigation,max) {
			width: 0 ;
			overflow: hidden;
		}

		input {
			height: 30px;
			border: 1px solid #C558FF;
			border-radius: 4px;
		}
	}
}

.header-search.activated {
	gap: 15px;
	@include respond-to($large,max) {
		gap: 0;
	}

	.search-toggle {
		gap: 20px;
		top: 50%;
		@include respond-to($large,max) {
			top: 76%;
			right: 10%;
			gap: 10px;
		}
		@include respond-to($medium,max) {
			top: 76%;
			right: 24%;
			gap: 10px;
		}
		@include respond-to($small,max) {
			top: 76%;
			right: 18%;
			gap: 10px;
		}
	}

	.search-form-wrapper {
		@include respond-to($large,max) {
			width: 85%;
			max-width: 90%;
		}
		@include respond-to($medium,max) {
			width: 70%;
			max-width: 90%;
		}
	}

	.search-submit {
		display: none;
	}
}
