/* stylelint-disable  declaration-no-important */

.icons {
	grid-template-columns: 10% !important;

	@include respond-to(500px,max) {
		grid-template-columns: 15% !important;
	}

	.wp-block-media-text__media {
		width: 20px !important;
		height: 20px !important;
		margin-bottom: 20px !important;
	}

	.wp-block-media-text__content {
		padding: 0 !important;
	}
}

.icon-content {
	border-right: 1px solid #D7D7E4;

	@include respond-to(medium,max) {
		padding-right: 0 !important;
		padding-left: 0 !important;
		border-right: 0;
		border-bottom: 1px solid #D7D7E4;
	}
}

.icon-more {

	@include respond-to(medium,max) {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
}

.menu-link a {
	position: relative;
	text-decoration: none;
	cursor: pointer;

}

.menu-link a::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: var(--wp--preset--color--black);
	content: '';
	transition: width 0.3s ease;
}

.menu-link a:hover::after {
	width: 100%;
}

.mega-menu {
	max-width: 558px !important;
}

.sub-menu {
	position: absolute;
	z-index: 1 !important;
	top: 62px !important;
	left: 24% !important;
	width: 558px !important;
	padding: 40px 0 0 !important;
	background: none !important;

	@include respond-to($xxlarge,min) {
		left: 32% !important;
	}
}

.menu.main-menu .menu-item.menu-item-has-meganav .menu-item-object-wp_block {
	width: 558px !important;
	margin-left: 0 !important;
}

.main-menu li {
	color: var(--wp--preset--color--charcoal);
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.10000000149011612px;
	line-height: 24px;

	@include respond-to($large,max) {
		font-size: 15px;
	}
}
