
.utility-nav {
	justify-content: flex-end;
	width: 100%;
	max-width: var(--wp--custom--container-width--xwide);
	margin: 0 auto;
	margin-left: auto;

	@include respond-to($large, max) {
		width: 100%;
	}

	&.desktop {
		display: none;

		@include respond-to($large+1px) {
			display: flex;
			align-items: baseline;
			color: var(--wp--custom--colors--body);
			gap: 24px;
		}
	}

	&.mobile {
		display: flex;
		flex-direction: column;
		align-items: baseline;
		justify-content: center;
		@include respond-to($large+1px) {
			display: none;
		}
	}
}
