<article {{{_block_attributes}}}>
	<div class="card-image-wrapper">
		{{{ image }}}
	</div>

	<div class="card-content-wrapper">
		<div class="post-category is-style-eyebrow-heading">{{{ category }}}</div>
		<a href="{{ url }}" target="{{ target }}" class="post-title h3">{{{ title }}}</a>
	</div>
</article>
