.wp-block-quote {
	p {
		color: var(--wp--preset--color--charcoal-blue);
		font-size: clamp(1.5rem, 1rem + 1vw, 2.1875rem);
		font-weight: 700;
		letter-spacing: -0.4px;
		line-height: calc(48/35);

		@include respond-to($navigation,max) {
			line-height: calc(35/24);
		}
	}
}

cite {
	font-size: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
	font-weight: 500;
	letter-spacing: normal;
	line-height: calc(20/12);
}
