/* stylelint-disable  declaration-no-important */

.is-content-justification-space-between {
	justify-content: space-between;
}

.no-gap {
	gap: 0;
}

.stats-bar {
	@extend h1;
	color: var(--wp--preset--color--egyptian-blue);
}

.columns-with-dividers {
	.wp-block-columns.dividers .wp-block-column+.wp-block-column::before {
		@include respond-to($navigation,min) {
			top: 18px;
			left: 0;
			height: 255px;
		}
	}
}

.stats-bar-columns {
	@include respond-to($navigation,max) {
		padding: 12px 16px !important;
	}
}

.image-grid {
	margin: 0 40px;
	@include respond-to($xlarge,max) {
		text-align: center;
	}
	@include respond-to($navigation,max) {
		margin: 20%;
	}

	.first-child {
		padding-bottom: 42px;
		border-bottom: 1px solid var(--wp--preset--color--concrete);
	}
}

.resource-column {
	.podcast-column {
		@include respond-to($medium,max) {
			padding-left: 0 !important;
		}
	}

	.skeletor-resource-card {
		background: transparent;
	}
}

.card-row {
	@include respond-to($large,max) {
		padding: 0 !important;
		padding-bottom: 24px !important;
	}
}

.column-dividers {
	padding-right: clamp(1.5rem, 0.0455rem + 2.9091vw, 3.5rem);
	padding-left: clamp(1.5rem, 0.0455rem + 2.9091vw, 3.5rem);
}

.column-divider {
	padding-right: clamp(1.5rem, 0.0455rem + 2.9091vw, 3.5rem);

	@include respond-to($xsmall,max) {
		padding-left: 24px;
	}
}
