.is-style-display-heading {
	font-size: clamp(2.375rem, 1.375rem + 2vw, 3.75rem);
	font-weight: 700;
	letter-spacing: -1px;
	line-height: calc(66/60);

	@include respond-to($navigation,max) {
		line-height: calc(43.7/38);
	}
}

.is-style-eyebrow-heading {
	color: var(--wp--preset--color--egyptian-blue);
	font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
	font-weight: 800;
	letter-spacing: 2px;
	line-height: calc(28/14);
	text-transform: uppercase;
}

h1,
.h1,
%h1 {
	font-size: clamp(2rem, 1.2727rem + 1.4545vw, 3rem);
	font-weight: 700;
	letter-spacing: -1px;
	line-height: calc(58/48);

	@include respond-to($navigation,max) {
		letter-spacing: -0.5px;
		line-height: calc(42.88/32);
	}
}

h2,
.h2,
%h2 {
	font-size: clamp(1.625rem, 1.1705rem + 0.9091vw, 2.25rem);
	font-weight: 700;
	letter-spacing: -0.8px;
	line-height: calc(51/36);

	@include respond-to($navigation,max) {
		letter-spacing: -0.4px;
		line-height: calc(31.2/26);
	}
}

h3,
.h3,
%h3 {
	font-size: clamp(1.25rem, 1.0682rem + 0.3636vw, 1.5rem);
	font-weight: 800;
	letter-spacing: -0.1px;
	line-height: calc(31.68/24);

	@include respond-to($navigation,max) {
		font-weight: 700;
		line-height: calc(28/20);
	}
}

h4,
.h4,
%h4 {
	font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
	font-weight: 700;
	letter-spacing: -0.1px;
	line-height: calc(28/18);
}

h5,
.h5,
%h5 {
	font-size: clamp(1rem, 1rem + 0vw, 1rem);
	font-weight: 500;
	letter-spacing: 0.1px;
	line-height: calc(24/16);
}

h6,
.h6,
%h6 {
	font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
	font-weight: 500;
	letter-spacing: normal;
	line-height: calc(20/14);
}
