.wp-block-table {
	&.is-style-stripes {
		tbody tr {
			&:nth-child(odd) {
				background-color: var(--wp--preset--color--frost);
			}

			td {
				border-color: var(--wp--preset--color--egyptian-blue);
			}
		}
	}

	thead {
		border-bottom: none;
		background-color: var(--wp--preset--color--egyptian-blue);

		th {
			padding: 30px 0 25px;
			color: var(--wp--preset--color--white);
			@extend h4;
		}
	}

	table {
		border-radius: 24px;
		border-collapse: separate;
		border-spacing: 0;
		@include respond-to($navigation,max) {
			min-width: 600px;
			overflow: scroll;
		}

		> :first-child tr:first-of-type > * {
			&:first-child {
				border-top-left-radius: 24px;
			}

			&:last-child {
				border-top-right-radius: 24px;
			}
		}

		> :last-child tr:last-of-type > * {
			border-bottom: 1px solid var(--wp--preset--color--egyptian-blue);

			&:first-child {
				border-left: 1px solid var(--wp--preset--color--egyptian-blue);
				border-bottom-left-radius: 24px;
			}

			&:last-child {
				border-right: 1px solid var(--wp--preset--color--egyptian-blue);
				border-bottom-right-radius: 24px;
			}
		}

		td {
			padding: 10px 16px;
			border-top: none;
			border-bottom: none;
			font-size: 16px;
			font-weight: 500;
			letter-spacing: 0.10000000149011612px;
			line-height: 26px;

		}
	}

}
