<footer id="footer" class="footer-landing footer">
    <div class="footer-landing-wrapper">
       {{#home_link}}
            {{{ home_link }}}
        {{/home_link}}
        {{#copyright_text}}<p class="footer-copyright">{{{.}}}</p>{{/copyright_text}}
    </div>
</footer>