<header id="header" class="header-default header">
	<div class="utility-nav desktop">
		{{{ utility_menu }}}
		{{{ search }}}
	</div>
	<div class="header-content">
		{{{ home_link }}}

		<div class="menus">
			<div class="utility-nav mobile">
				{{{ utility_menu }}}
				{{{ search }}}
			</div>
			{{> menu-main-menu }}
		</div>

		<button id="main-menu-toggle" class="main-menu-toggle" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle Main Menu">
			{{{ toggle_icon }}}
		</button>
	</div>
</header>