p,
li {
	color: var(--wp--preset--color--charcoal);
	font-weight: 500;
	letter-spacing: 0.10000000149011612px;
}

.main {
	padding-top: var(--header-height);

	> *:first-child:not(.no-auto-header-padding) {
		padding-top: initial;
	}
}
